<!-- views/partials/layout.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./head %>
</head>
<body id="body" class="<%= theme %>">
  <%- body %>
  <% include ./scripts %>
</body>
</html>
